<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Svetstk</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css">
</head>
<body>
<header class="header">
	<div class="header__top">
		<div class="wrapper">
			<div class="header__logo">
				<span class="icon-logo_stk_sign header__logo_square">
					<span class="path1"></span>
					<span class="path2"></span>
				</span>
				<span class="icon-logo_stk_text header__logo_text"></span>
			</div>
			<div class="header__right">
				<div class="header__contact">
					<span class="icon-mail"></span> 
					<p>Свяжитесь с нами</p>
				</div>
				<div class="header__city">
					<span class="icon-pointer"></span> Ваш регион: 
					<a href="#">Санкт-петербург </a>
				</div>
				<div class="header__phones">
					<a href="#">
						<span class="icon-phone"></span>
						8 (800) 700 58 27
					</a>     
					<a href="#">8 (812) 319 33 73</a>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="wrapper">
			<div class="header__menu">
				<a href="#" class="header__menu_item">Каталог</a>
				<a href="#" class="header__menu_item">Освещение магазинов</a>
				<a href="#" class="header__menu_item">Проектирование</a>
				<a href="#" class="header__menu_item">Производство</a>
				<a href="#" class="header__menu_item">Проекты</a>
				<a href="#" class="header__menu_item">О нас</a>
				<a href="#" class="header__menu_item">Блог</a>
				<a href="#" class="header__menu_item">Контакты</a>
			</div>
			<div class="header__right">
				<div class="header__cart"><span class="icon-cart"></span> (6)</div>
				<div class="header__search"><span class="icon-zoom"></span></div>
			</div>
		</div>
	</div>
</header>
<!-- build:content -->
<footer class="footer">
	.
</footer>
<script src="js/script.min.js"></script>
</body>
</html>